# Module.config
# For more info on how to use this file, visit http://beaverbrewer.com/module-config

Module Name: GA Event Tracking Button
Module Slug: ga-events-button
Module Version: 1.0
Short Description: Adds a button with built-in Google Analytics event tracking fields.
Author Name: Ryan Benhase
Author URL: http://ryanbenhase.com
Update URL: http://beaverbrewer.com/bb-updates/ga-event-button
Download ZIP: http://beaverbrewer.com/bb-downloads/ga-event-button
More Info URL: http://beaverbrewer.com/modules/ga-event-button
